{% extends layout_template %}
{% load static %}
{% load sapp_filters %}
{% load crispy_forms_tags %}

{% block title %}
	{{system_title}} | SAPP Blog | Dashboard
{% endblock title %}

{% block pageheadertitleh5 %}SAPP Blog Dashboard{% endblock pageheadertitleh5 %}

{% block maincol %}

{% if author %}
<div class="col-md-4 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center m-l-0">
                <div class="col-auto">
                    <i class="icon fas fa-user-astronaut fa-2x text-c-purple"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10 badge badge-light-primary">{{author.role}}</h6>
                    <h2 class="m-b-0">{{author.user}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
    

<a href="/{% settings_value 'SAPP_URL' %}/module/sapp_blog/" class="col-md-4 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center m-l-0">
                <div class="col-auto">
                    <i class="icon fas fa-database fa-2x text-c-purple"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10 badge badge-light-primary">Manage</h6>
                    <h2 class="m-b-0">Blog Data</h2>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Category Posts</h5>
        </div>
        <div class="card-body">
            <div id="category-post-stats"></div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Category Authors</h5>
        </div>
        <div class="card-body">
            <div id="category-author-stats"></div>
        </div>
    </div>
</div>

    
{% endblock maincol %}
    
{% block js %}
{{ block.super }}
<script src="{% static 'sapp_abelpro/assets/js/plugins/apexcharts.min.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const headers = {'X-CSRFToken': '{{ csrf_token }}'}
        const methodsBaseURL = `/{% settings_value 'SAPP_URL' %}/api/method/sapp_blog/`
        const setupCategoryPostStats = () => {
            const render = (data) => {
                (
                    new ApexCharts(
                        document.querySelector("#category-post-stats"),
                        {
                            chart: {
                                height: 300,
                                type: 'bar',
                                sparkline: {
                                    enabled: true
                                },
                            },
                            plotOptions: {
                                bar: {
                                    columnWidth: '55%',
                                    distributed: true
                                }
                            },
                            dataLabels: {
                                enabled: true,
                            },
                            stroke: {
                                width: 0
                            },
                            series: [{
                                name: 'Blog Post Category',
                                data: Object.values(data)
                            }],
                            xaxis: {
                                categories: Object.keys(data),
                            },
                            legend: {
                                show: true,
                                position: 'top'
                            }
                        }
                    )
                ).render()
            }
            $.ajax({
                url: `${methodsBaseURL}category/get_category_post_stats/`,
                method: "POST",
                headers: headers,
                data: {},
                success: (res) => {
                    if (res?.data) {
                        render(res.data)
                    }
                },
                error: (error) => {
                    alert(error.statusText)
                    console.error(error)
                }
            })
        }
        try {
            setupCategoryPostStats()
        } catch (_) {}
        const setupCategoryAuthorStats = () => {
            const render = (data) => {
                (
                    new ApexCharts(
                        document.querySelector("#category-author-stats"),
                        {
                            chart: {
                                height: 300,
                                type: 'bar',
                                sparkline: {
                                    enabled: true
                                },
                            },
                            plotOptions: {
                                bar: {
                                    columnWidth: '55%',
                                    distributed: true
                                }
                            },
                            dataLabels: {
                                enabled: true,
                            },
                            stroke: {
                                width: 0
                            },
                            series: [{
                                name: 'Blog Author Category',
                                data: Object.values(data)
                            }],
                            xaxis: {
                                categories: Object.keys(data),
                            },
                            legend: {
                                show: true,
                                position: 'top'
                            }
                        }
                    )
                ).render()
            }
            $.ajax({
                url: `${methodsBaseURL}category/get_category_author_stats/`,
                method: "POST",
                headers: headers,
                data: {},
                success: (res) => {
                    if (res?.data) {
                        render(res.data)
                    }
                },
                error: (error) => {
                    alert(error.statusText)
                    console.error(error)
                }
            })
        }
        try {
            setupCategoryAuthorStats()
        } catch (_) {}
        
    })
</script>
    
{% endblock js %}